html,
body {
	background-color: #96ccc7;
}

.user-profile {
	background: #ffc28f;
	border-color: #570988;
	color: #555;
	padding: 5px 0px 5px 0px;
	margin: 10px;
}

.user-profile-title {
	text-align: center;
	font-weight: bold;
}

.user-profile-list {
	background: #fefefe;
	margin: 10px;
	padding: 0px 5px 0px 5px;	
	border: solid 1px #570988;
	box-shadow: 0 0 3px #eee;
}

.user-profile-list-item {
	list-style: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid 1px #570988;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
}

.user-profile-list-item p {
	margin: 2px 0 2px 0;
}

.user-profile-list-item:last-child {
	border-bottom: none;
}

.login-page {
	min-height: 100%;
}

.login-page .back-button-wrapper {
	bottom: 10px;
	right: 10px;
	position: absolute;
}

.login-page .back-button-wrapper .back-button {
	max-height: 5vh; 
}

.login-form-img {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.login-form {
	color: #555;
	margin: 40px auto;
	padding: 30px;
	background: #fefefe;
	border: solid 1px #eee;
	box-shadow: 0 0 3px #eee;
	min-width: 300px;
	max-width: 350px;
}

.login-form-header {
	color: #ffc28f;
	text-align: center;
	margin-bottom: 25px;
	border-bottom: solid 2px #ffc28f;
	font-size:18px;
}

.login-form-header p {
	color: #ffc28f;
}

.login-form .input-group {
	margin-bottom: 10px;
}

.login-form-footer {
	color: #555;
	text-align: center;
	margin-top: 25px;
	padding-top: 10px;
	border-top: solid 1px #eee;
}

.login-form-footer a {
	color: #555;
}

.login-form-footer a:hover {
	text-decoration: underline;
	color: #555;
}

.main-mark {
    display: block;
    visibility: hidden;
    position: relative;
    top: -50px;
}

.main-content {
	margin-top: 75px;
	margin-bottom: 3vh;
}

.page1 {
	min-height: 100%;
}

.page1 .text-wrapper {
	width: 80%;
	margin-top: 20vh;
}

.page1 .img-wrapper {
	width: 80%;
	margin-top: 10vh;
	margin-bottom: 20vh;
}

.page2 {
	min-height: 100%;
	background-color: #FFFFFF;
	border-bottom: dashed 2px #570988;
}

.page2 .content {
    margin-top: 10vh;
    max-width: 80%;
}

.page2 .content p {
	font-size: 2em;
	color: #570988;
	margin-bottom: 5vh;
}

.page2 .img-wrapper {
	width: 80%;
	margin-top: 10vh;
}

.page3 {
	min-height: 100%;
	background-color: #FFFFFF;
	border-bottom: dashed 2px #570988;
}

.page3 .title {
	font-size: 6vmin;
	font-weight: bold;
	text-align: center;
	color: #570988;
	margin: 15vh 0vw 8vh 0vw;
}

.page3 .advantage-item {
	margin: 5vh 3vw;
	border-radius: 5px;
}

.page3 .advantage-item p {
	font-size: 1.3em;
	color: #570988;
	text-align: center;
	margin-top: 2vh;
}

.page4 {
	min-height: 100%;
	background-color: #FFFFFF;
}

.page4 .img-wrapper {
	width: 80%;
	margin-top: 15vh;
}

.page4 .tools {
	padding: 8vh 10vw;
}

.page4 .tool-item {
	margin: 5vh 0vw;
	border-radius: 5px;
}

.page4 .tool-item p {
	font-size: 1.3em;
	color: #570988;
	text-align: center;
	margin-top: 2vh;
}

.page5 {
	min-height: 100%;
	color: #FFFFFF;
	margin-top: 3vh;
}

.page5 .img-wrapper {
	width: 80%;
	margin-top: 3vh;
}

.page5 .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.page5 .form-wrapper {
	width: 80%;
}

.page5 .contact-row {
	margin: 3vh 0vw;
}

.page5 .contact-row-divider {
	border-top: dashed 2px #FFFFFF;
}

.page5 .contact-details {
	font-size: 1.5em;
	color: #FFFFFF;
	margin-top: 5vh;
}

.page5 .contact-details p {
	color: #FFFFFF;
}

.page5 .contact-details p i {
	font-size: 1.5em;
}

.page5 .contact-details p a, a:focus, a:hover, a:active {
	outline: 0 !important;
	text-decoration: none;
	color: #FFFFFF;
}

.page5 label {
	font-size:1.2em;
}

.topnav {
  overflow: hidden;
  background-color: #FFFFFF;
  border-bottom: solid 3px #570988;
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  z-index: 1030;
}

.topnav .topnav-logo {
	margin: 10px 2vw 10px 1vw;
	float: left;
}

.topnav .topnav-menu-button {
	margin: 12px;
	float: right;
}

.topnav .topnav-menu-button .topnav-button {
	padding: 10px;
	text-align: center;
	font-size: 24px;
	color: #570988;
	background-color: #FFFFFF;
	border: solid 1px #570988;
}

.topnav .topnav-menu-items {
	float: right;
}

.topnav-popup {
	background-color: #FFFFFF;
	position: fixed;
	top: 75px;
	left: 0;
	width: 100%;
	z-index: 1030;
}

.topnav-popup a {
	display: block;
	text-decoration: none;
	color: #570988;
	font-size: 18px;
	margin: 5px;
	padding: 5px;
}

.topnav-popup .login-button {
	font-weight: bold;
}

.topnav .topnav-menu-items a {
  float: left;
  display: block;
  color: #570988;
  text-align: center;
  padding: 9px 0.5vw;
  margin: 9px 0.5vw;
  text-decoration: none;
  font-size: 24px;
}

.topnav .topnav-menu-items .login-button {
	color: #FFFFFF;
	background-color: #570988;
	border: none;
	border-radius: 5px;
	padding: 9px 2vw;
	margin: 9px 2vw 9px 3vw;
}

@media (max-width: 450px) {
	.topnav .topnav-logo {
		width: 75%;
	}
}

@media (max-width: 1350px) {
	.topnav .topnav-menu-items {
		display: none;
	}
	
	.topnav .topnav-menu-button {
		display: block;
	}
}

@media (min-width: 1350px) {
	.topnav .topnav-menu-items {
		display: block;
	}
	
	.topnav .topnav-menu-button {
		display: none;
	}
}

.navbar-footer {
	font-size: 3vh;
	text-align: center;
	background-color: #FFFFFF;
	border-top: solid 3px #570988;
    height: 7vh;
    min-height: unset;	
}

.navbar-footer p {
	color: #570988;
	margin: 0px;
}

.navbar-footer .highlight {
	font-weight: bold;
	font-size:1.3em;
}

